<%- include("partials/header.ejs") %>
<!-- body code continue -->
<section class="blogs-page container">
  <h1 class="recent-blogs-heading">Recent Blogs</h1>
  <hr class="styled-divider">
  <% if (data.length == 0) { %>
    <h1>No blog post</h1>
  <% } else { %> 
    <div class="blogs">
    <% for (let i = 0; i < data.length; i++) { %>
        <div class="blogp-card">
          <h2 class="blogp-title"><%= data[i].title %></h2>
          <p class="blogp-content"><%= data[i].content %></p>
          <p class="blogp-tags">Tags: <%= data[i].tags %></p>
          <p class="blogp-date">Date: <%= data[i].date %></p>
          
          <!-- Form to Update the Post -->
          <form action="/v1/update" method="POST" class="blogp-form">
            <input type="hidden" name="title" value="<%= data[i].title %>" />
            <input type="text" name="newTitle" placeholder="New Title" value="<%= data[i].title %>" />
            <input type="text" name="newTags" placeholder="New Tags" value="<%= data[i].tags %>" />
            <textarea name="newContent" placeholder="New Content"><%= data[i].content %></textarea>
            <input type="submit" value="Update" class="btn update-btn" />
          </form>
  
          <!-- Form to Delete the Post -->
          <form action="/v1/delete" method="POST" class="blogp-form delete-form">
            <input type="hidden" name="title" value="<%= data[i].title %>" />
            <input type="submit" value="Delete" class="btn delete-btn" />
          </form>
        </div>
        <% } %> 
      </div>
  <% } %>
</section>

<!-- body code end -->
<%- include("partials/footer.ejs") %>