<%-include("partials/header.ejs") %>
<!-- body code continue -->
<h1>Welcome back <%=emailAddress[0].email%>!</h1>
<% if (data.length == 0) { %>
<h1>No blog post</h1>
<% }else{%> <% for (let i = 0; i < data.length; i++) { %>
<h2><%= data[i].title %></h2>
<p>Date: <%= data[i].date %></p>
<% } %> <%} %>
<!-- body code end -->
<%- include("partials/footer.ejs") %>
